body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
section{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items:center;
    scroll-snap-align: center;
}
.first{
    background-image: url(Homepage-Model-Y-Desktop-US-v2.avif);
}
.second{
    background-image: url(Homepage-Model-S-Desktop-US.avif);
}
.third{
    background-image: url(Homepage-SolarPanels-01-Desktop.avif);
}
.fourth{
    background-image: url(Homepage-SolarRoof-Desktop-US.avif);
}
.five{
    background-image: url(Homepage-Model-3-Desktop-US.avif);
}
.content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 23rem;
    z-index: 1;
}
.link{
    color: aliceblue;
}
h2{
    color: aliceblue;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 1px;
    margin-bottom: 0px;
}
.button{
    display: flex;
    gap: 2rem;
}
button{
    padding: 0px 90px;
    line-height: 25px;
    height: 40px;
    font-weight: 400;
    letter-spacing: 20px;
    font-size: 1rem;
    border-radius: 2px;
    cursor: pointer;
}
.primary{
    background-color: rgb(25,125, 155);
    color: rgb(255, 255, 255);
}
.secondary{
    background-color: white;
    color: black;
}